<div>
    <h3>Caisse</h3>

    <form (ngSubmit)="onSubmitForm()">

        <label>
            Choissiez le montant en €
        </label>
        <div>
            <input type="search"
                id="essenceInput"
                name="essenceInput"
                placeholder="Entrer le prix"
                [(ngModel)]="prixEssence"
            >
        </div>

        <label>
            Choissiez votre carburant :
        </label>
        <div>
            <select name="carburant" id="carburant" [(ngModel)]="carburant">
                <option value="essence">essence</option>
                <option value="diesel">diesel</option>
            </select>
        </div>

        <div>
            <button type="submit">Valider</button>
        </div>

    </form>
    <div *ngIf="response">
        <p>Votre code est : {{ response.id }}</p>
        <p>Vous avez acheté pour {{ response.litre }} litre de {{ response.carburant }}</p>
    </div>
</div>